<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="display-1"> <b>MegaCoders è  un  workshop di 3 ore su coding  e STEAM, rivolto agli  studenti delle scuole elementari e medie.</b></p>
      </div>
      <div class="col-lg-12 text-center">
      <img src="../img/gi.png" align="middle" style="max-height: 10%; max-width: 10%;"> </a>
      </div>
      <div class="col-lg-2 text-left">
  </div>
  <div class="col-lg-8 text-left">

          <h3>   Si svolgerà negli spazi di <a href="http://www.toolboxoffice.it/en/">Toolbox Coworking</a> e <a href="http://fablabtorino.com">Fablab Torino</a> <b>giovedì 19 Ottobre 2017 </b> ed ha l'obiettivo di coinvolgere <b>300 giovani partecipanti</b>.</p>
      <p> </h3>
<h2 class="display-2">le regole sono semplici!</h2>


<h3><ul>
  <li>  I partecipanti saranno organizzati in squadre da 10 membri.</li>
  <li> Ogni squadra sarà seguita da un tutor che metterà a disposizione le proprie conoscenze su un tema a sua scelta.</li>
  <li> Ogni tutor sarà responsabile della squadra e incaricato di fornire materiali di consumo e gli eventuali kit.</li>
  <li>La partecipazione all'evento é gratuita.
  </ul>
Mega Coder è un evento organizzato da <a href="http://www.associazionedschola.it/">Dschola</a>, <a href="http://fablabforkids.it">Fablab for kids</a> e <a href="http://www.toolboxoffice.it/en/">Toolbox Coworking</a>, partecipa alla <a src="http://codeweek.eu/">Code Week Europea 2017</a> e si svolge nei medesimi spazi di <a href="torino.makerfaire.com">Torino Maker Faire. </a></p>
Per maggiori informazioni, scrivi a megacoders@associazionedschola.it o <b>consulta le FAQ in fondo alla pagina.</b>
<p>
</p>
</p></div>
    </h5>
    <div class="col-lg-2 text-left">

      </div>


    </div>
    <!--
    <div class="col-sm-4 text-center">
      <a href="http://www.associazionedschola.it/"><img src="../img/dschola_1.jpeg" align="middle" style="max-height: 100%; max-width: 100%;" bottom:"0"></a>
    </div>
    <div class="col-sm-4 text-center">
      <a href="http://fablabforkids.it"><img src="../img/kids.png" align="middle" style="max-height: 50%; max-width: 50%;"></a>

    </div>
    <div class="col-sm-4 text-center">
      <a href="http://www.toolboxoffice.it/en/"><img src="../img/tlbx.png" align="middle" style="max-height: 50%; max-width: 50%;"></a>
    </div>

  </div> /.row -->
  <!-- /.container -->
</section>
